body {
  position: relative; 
  height: 100vh;
  width: 100%;
  background-image: url('/public/Marvel-Wants-More-Superhero-Games-Aims-for-Quality-2.jpg');
}

.bg-card {
  background: rgb(251,63,63);
  background: radial-gradient(circle, rgba(251,63,63,1) 0%, rgba(0,0,0,1) 100%);
  color: #FFFFFF;
}

.card-img {
  width: "auto";
  height: "80%";
  padding: 10px;
}